
.products-page {
    display: grid;
    grid-template-columns: 4fr 2fr;
}


.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
